<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get yout Favorite Restaurant">
    <link rel="icon" href="icon-resto.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#334257"/>
    <link rel="apple-touch-icon" href="/icons/icon-resto-192x192.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>My Resto</title>
</head>
<body>
  <a tabindex="0" href="#mainContent" class="skip-link">Main Content</a>
  <header>
    <app-bar></app-bar>
  </header>
  <main>
    <hero-display></hero-display>
    <section id="mainContent" tabindex="0"></section>
  </main>
  <footer-display></footer-display>
</body>
</html>